动态
<!-- <div class="container-fluid">
  <div class="row">
    <div class="col-md-8">
      <ul class="media-list">
        <li class="media">
          <div class="media-body">
            <h4 class="media-heading">Media heading</h4>
            ...
          </div>
        </li>
        <li class="media">
          <div class="media-body">
            <h4 class="media-heading">Media heading</h4>
            ...
          </div>
        </li>
        <li class="media">
          <div class="media-body">
            <h4 class="media-heading">Media heading</h4>
            ...
          </div>
        </li>
      </ul>
    </div>
    <div class="col-md-4">
      <ul class="list-group">
        <li>books</li>
        <li class="list-group-item" *ngFor='let book of books'>
          {{book.name}}
        </li>
      </ul>
    </div>
  </div>
</div> -->