<div class="container-fluid">
  <div class="row">
    <div class="col-md-8">
      <div class="list-group">
        <a href="#" class="list-group-item">
          <h4 class="list-group-item-heading">文章标题</h4>
          <p class="list-group-item-text">内容概览</p>
        </a>
      </div>
      <div class="list-group">
        <a href="#" class="list-group-item">
          <h4 class="list-group-item-heading">文章标题</h4>
          <p class="list-group-item-text">内容概览</p>
        </a>
      </div>
      <div class="list-group">
        <a href="#" class="list-group-item">
          <h4 class="list-group-item-heading">文章标题</h4>
          <p class="list-group-item-text">内容概览</p>
        </a>
      </div>
    </div>
    <div class="col-md-4">
      <ul class="list-group">
        <li>books</li>
        <li class="list-group-item" *ngFor='let book of books'>
          {{book.name}}
        </li>
      </ul>
    </div>
  </div>
</div>