<div class="container-fluid">
    <div class="page-header">
        <h1>ZSpace
            <small>share the stories</small>
        </h1>
    </div>
    <ul class="nav nav-pills">
        <li role="presentation">
            <a href="/dashboard">Dashboard</a>
        </li>
        <li role="presentation">
            <a href="/ariticles">articles</a>
        </li>
        <li role="presentation">
            <a href="/books">books</a>
        </li>
        <li role="presentation">
            <a href="/login">login</a>
        </li>
    </ul>
</div>



<div class="container-fluid">
    <router-outlet></router-outlet>
    <div>